CompileFlags:
  Add: [-std=c++26, -stdlib=libc++]
  Compiler: clang++-20
Diagnostics:
  ClangTidy:
    Add:
      [
        bugprone-*,
        cppcoreguidelines-*,
        modernize-*,
        performance-*,
        readability-*,
      ]
    Remove:
      [
        modernize-use-trailing-return-type
      ]
